.cart-items {
  margin: 0;
  padding: 0;
  list-style: none;
} 

.cart-items .wrapper {
  display: flex;
  padding: 20px 15px;
  margin-bottom: 2px;
  background-color: #c49d00;
}
      
.cart-items .wrapper > * {
  flex: 1 1 auto;
  margin: 0 7px;
}
      
.cart-items .wrapper .thumb {
  flex-shrink: 0;
  max-width: 90px;
  height: 90px;
  border: 1px solid #000;
}
      
.cart-items .wrapper .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
      
.cart-items .wrapper .details .title {
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.1rem;
  margin-bottom: 4px;
}
      
.cart-items .wrapper .removeItem {
  text-align: right;
}

.cart-items .wrapper .removeItem  button {
  border: none;
  background: transparent;
  align-self: flex-start;
  font-size: 1.1rem;
  font-weight: 900;
  cursor: pointer;
}
