
.main-header {
    background-color: #ffce00;
    height: 80px;
    border-bottom: 1px solid #DDD;
    position: relative;
    width: 100%;
}

.main-header .header-content {
    height: 80px;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header .header-content .logo {
    height: 70px;
}
