.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin: 0 0 30px 0;
}

.details .title {
    color: #4d4d4d;
    font-size: 0.9rem;
    letter-spacing: 0;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f3f3f3;
    word-break: break-all;
}

.details .title i {
    display: inline-block;
    margin-left: 15px;
    color: #ffce00;
}

.details .call-action {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.details .call-action .values {
    display: flex;
    flex-direction: column;
    color: #7c7c7c;
    font-size: 0.7rem;
    font-weight: 900;
    margin-bottom: 20px;
}

        
.call-action .values .installments {
    display: inline-block;
    margin-bottom: 3px;
    color: #22b14c;
}
   
.call-action .values .best-price {
    background-color: #327ed6;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 2px 0;
}

.call-action .values .installments .amount {
    display: inline-block;
    margin-left: 3px;
    font-size: 1.2rem;
}

.call-action .values .in-cash {
    display: inline-block;
    margin: 0 3px;
    color: #22b14c;
}
      
.call-action .btn-add-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.6rem;
    font-weight: 900;
    color: white;
    padding: 6px 10px;
    height: 32px;
    border-radius: 3px;
    background-color: #22b14c;
    cursor: pointer;
}

.details .call-action .btn-add-cart i {
    margin-top: 2px;
    margin-left: 8px;
}

@media only screen and (min-width: 992px){
    .details .title {
        word-break: none;
    }
}
  
@media only screen and (min-width: 768px){
    .details .title {
        font-size: 1.6rem;
    }
  
    .details .call-action {
        flex-direction: row;
    }

    .details .call-action .values {
        font-size: 1rem;
    }

    .call-action .values .best-price {
        font-size: 18px;
    }
    
    .call-action .values .installments .amount {
        font-size: 2rem;
    }
  
    .details .call-action .btn-add-cart {
        font-size: 1rem;
        height: 43px;
        width: 50%;
        margin-left: 20px;
        margin-top: 20px;
    }
  }
  
  @media only screen and (min-width: 1024px){
    .details .title {
        font-size: 2rem;
    }
  
    .details .call-action {
      flex-direction: row;
    }

    .details .call-action .values {
        font-size: 1.5rem;
    }

    .call-action .values .installments .amount {
        font-size: 2rem;
    }
  
    .details .call-action .btn-add-cart {
        font-size: 1rem;
        height: 43px;
        width: 50%;
        margin-left: 20px;
    }
  }
  